@import "../../colors";
.nav-bar {
  background: $nav-bar-dark-background;
  color: $text-color;
  height: 72px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
  align-items: center;
  padding: 0px 5px;
  transition: 0.4s;
  box-sizing: border-box;
  &.transparent {
    background: transparent;
    top: 20px;
    transition: 0.4s;
    .logo {
      height: 100px;
    }
  }
  .logo {
    padding-left: 40px;
    height: 72px;
    cursor: pointer;
  }

  .links {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    max-height: 0px;
    z-index: 90;
    transition: max-height 300ms ease-in-out 0s, opacity 600ms ease-in-out 0s,
      background 200ms ease-in-out 0s;
    .link-list {
      padding: 0px 5px;
      box-sizing: border-box;
      display: flex;
      flex-direction: row;
    }
  }

  .link-item {
    list-style: none;
    margin: 0px 32px;
    cursor: pointer;
    transition: transform 200ms ease-in-out 0s;
    a {
      font-size: 20px;
      color: inherit;
      text-decoration: none;
      outline: none;
      user-select: none;
    }
    &:hover {
      color: #663399;
    }
  }
}
.started {
  width: 166px;
  height: 45px;
  margin-right: 50px;
}
.login {
  width: 118px;
  height: 45px;
  margin: 0px 22px 0px 34px;
}
