<div class="bg--container">
    <div class="bg--top" id="bg-page">
        <img class="bg--small-circle" src="../../../assets/images/blob-small.svg">
        <img class="bg--dots" src="../../../assets/images/accounting_dots.svg">
        <img class="bg--big-circle" src="../../../assets/images/circle.svg">
        <img class="bg--dots2" src="../../../assets/images/accounting_dots.svg">
    </div>
    <div class="bg--bottom">
        <img class="bg--wave" src="../../../assets/images/sol_wave_bg.svg">
    </div>
</div>